div {
  border: 1px solid black;
}

.container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  height: 100%;
}

.gif-thumbnail {
  width: 200px;
  height: 200px;
  margin: 10px;
}

#gif-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

#thumbnail-panel {
  margin: 0 auto;
}

.gif-detail {
  width: 150px;
  height: 150px;
}

ul {
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  border: 10px solid black;
}

.to-show {
  display: none;
}