* {
  font-family: 'Work Sans', sans-serif;
}

.avg-rating, #site-name, #gif-thumbnail-title {
  font-weight: 700;
}

/* div {
  border: 1px solid black;
} */

.container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  height: 100%;
}

.gif-thumbnail {
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

#gif-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

#thumbnail-panel {
  margin: 0 auto;
}

.gif-detail {
  width: 150px;
  height: 150px;
}

ul {
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  border: 10px solid black;
}

.to-show {
  display: none;
}

#site-name {
  text-align: center;
  font-size: 3.5em;
}

#new-gif-form-message {
  display: inline-block;
}

#gif-thumbnail-title, #gif-thumbnail-rating {
  display: inline-block;
  margin: 3px;
  margin-bottom: 20px;
}

#sign-in-dialog {
  font-size: 1.5em;
  font-weight: 700;
}

#sign-in-name {
  font-size: 1em;
  font-weight: 700;
}