* {
  font-family: 'Work Sans', sans-serif;
}

.avg-rating, #site-name, #gif-thumbnail-title {
  font-weight: 700;
}

/* div {
  border: 1px solid black;
} */

.container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  height: 100%;
}

.gif-thumbnail {
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

#gif-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

#thumbnail-panel {
  margin: 0 auto;
}

.gif-detail {
  width: 150px;
  height: 150px;
}

ul {
  margin: 0 auto;
  text-align: center;
}

.gif-thumbnail-card {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  border: 10px solid black;
  overflow: hidden;
  width: 220px;
}

.to-show {
  display: none;
}

#site-name {
  text-align: center;
  font-size: 3.5em;
}

#new-gif-form {
  text-align: center;
}

#new-gif-form-message {
  display: inline-block;
  font-size: 1.5em;
}

#new-gif-title, #new-gif-url {
  font-size: 1em;
  width: 150px;
}

#gif-thumbnail-text {
  margin-bottom: 20px;
}

#gif-thumbnail-title, #gif-thumbnail-rating {
  /* display: inline-block; */
  display: inline;
  margin: 3px;
  font-size: 1.2em;
}

#sign-in-dialog {
  font-size: 1.5em;
  font-weight: 700;
}

#sign-in-name {
  font-size: 1em;
  font-weight: 700;
}

#exit-dialog {
  float: right;
  /* position: fixed; */
  position: sticky;
  z-index: 2;
  /* position: relative; */
  top: 0;
  /* right: 0; */
}

#exit-dialog:hover,
#exit-dialog:focus {
  cursor: pointer;
  color: #ccc;
}

#greeting {
  font-size: 1.3em;
}

#detail-dialog {
  /* border-radius: 5px; */
  position: fixed;
  /* top: 5%; */
  /* height: 450px; */
  height: 80%;
  /* min-height: max-content; */
  overflow: auto;
}
